
<div>
    <header>
        <img class="logo" src="../../assets/logo (2).png" alt="logo">
        
        <nav>
            <ul class="nav_links">
                <div class="dropdown">
                    <button type="button" class="dropbtn" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu
                    </button>
                    <div class="dropdown-content">
                      <a class="dropdown-item" href="#">HOME</a>
                      <a class="dropdown-item" href="#">GENRE</a>
                      <a class="dropdown-item" href="#">UPCOMING</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">RANDOM</a>
                    </div>
                  </div>
                <li><a href="#">Manga</a></li>
                <li><a href="#">Voice-Overs</a></li>
                <li><a href="#">About</a></li>
                
                  
                
            </ul>
        </nav>
        <a class="cta" href="#"><button>SIGN IN</button></a>
    </header>
    
</div>

